p, h1, h2, h3, a, ul, li, figure, body, img, button {
  margin: 0;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0em;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
.container--flex {
  display: flex;
  align-items: center;
}
.container--header {
  max-width: 1300px;
  padding: 0px 30px;
}
.container--main {
  max-width: 1200px;
  padding: 0 40px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0em;
  display: flex;
  gap: 8px;
  align-items: center;
}
.logo__svg-container {
  padding: 13px;
  background-color: #3a0ca3;
  border-radius: 50%;
  max-height: 50px;
}
.logo__svg {
  max-width: 24px;
  max-height: 24px;
  color: #ffffff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0em;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.button__svg {
  max-width: 20px;
  max-height: 20px;
}
.button--blue {
  padding: 15px 26px;
  background-color: #3a0ca3;
  color: #ffffff;
  border-bottom-left-radius: 30% 100%;
  border-bottom-right-radius: 30% 100%;
  border-top-left-radius: 30% 100%;
  border-top-right-radius: 30% 100%;
  border-style: none;
}
.button--transparent {
  border-style: none;
  background-color: inherit;
}

.title {
  font-weight: 600;
  font-size: 57.3px;
  line-height: 1.13;
  letter-spacing: 0em;
}

.secondary-title {
  font-weight: 400;
  font-size: 19.4px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #4361ee;
}

.header__address-section {
  font-weight: 400;
  font-size: 13.3px;
  line-height: 1.65;
  letter-spacing: 0em;
  padding: 15px 0;
  background-color: #3a0ca3;
  color: #ffffff;
}
.header__address {
  display: flex;
}
.header__contacts {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.header__address-svg {
  position: relative;
  top: 2px;
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}
.header__address-svg--pin {
  margin-right: 8px;
}
.header__address-svg--mail {
  top: 4px;
}
.header__buttons-section {
  padding: 15px 0;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  display: flex;
}
.header__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 13px 16px;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}
.header__nav-link:hover {
  background-color: rgba(67, 97, 238, 0.3);
}
.header__logo {
  margin-left: 129px;
}
.header__button-div {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.slider {
  position: relative;
  width: 540px;
}
.slider__round-window {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.slider__images-container {
  display: flex;
  transition: transform 0.5s ease;
  width: 2160px;
}
.slider__image {
  width: 540px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 146px;
}
.slider__button {
  position: absolute;
  border-style: none;
  border-radius: 50%;
  padding: 13.5px 16.5px;
  background-color: #ffffff;
}
.slider__button--back {
  left: -18px;
}
.slider__button--next {
  right: -18px;
}
.slider__button-svg {
  display: flex;
  align-items: center;
  width: 7px;
  height: 13px;
  color: #d4d4d4;
}
.slider__bar-list {
  display: flex;
  gap: 34px;
  justify-content: space-between;
}
.slider__bar-section {
  margin-top: 9px;
  padding: 0 11px;
}
.slider__bar {
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 2px;
}
.slider__bar--active {
  background-color: #4361ee;
}

.hero {
  background-image: linear-gradient(rgba(76, 201, 240, 0), #4361ee);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-size: 1440px;
  padding-top: 89px;
  padding-bottom: 112px;
}
.hero__secondary-title {
  margin-bottom: 30px;
}
.hero__flex-div {
  display: flex;
  gap: 160px;
}
.hero__title-section {
  max-width: 540px;
}
.hero__title {
  margin-bottom: 40px;
}
.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0em;
  color: #808080;
}
.hero__slider {
  margin-top: 40px;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200vw; /* Ensures it covers beyond the viewport */
  height: 100vw; /* This controls the circular effect */
  background-image: linear-gradient(rgba(76, 201, 240, 0), #4361ee);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  pointer-events: none; /* Keeps the section content accessible */
}

.form-section {
  width: 420px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 30px;
}
.form-section__nav {
  display: flex;
  gap: 125px;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d4d4d4;
  color: #808080;
}
.form-section__form {
  padding: 50px 40px 60px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.form-section__label {
  display: none;
}
.form-section__input-item:not(:last-child) {
  margin-bottom: 30px;
}
.form-section__input {
  font-size: 16px;
  line-height: 1.63;
  padding: 15px 0 15px 20px;
  border-radius: 20px;
  border-style: none;
  color: #d4d4d4;
  background-color: rgba(212, 212, 212, 0.2);
}
.form-section__button--search {
  border-radius: 50px;
  width: 100%;
  margin: auto auto 0;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */