$main-color: #3a0ca3;
$white-color: #ffffff;
$popular-color: #ff1111;
$popular-background-color: #ffe1e1;
$newlisting-color: #119bff;
$newlisting-background-color: #d7eeff;
$discount-color: #00ce3a;
$discount-background-color: #f1fff1;
$main-text-color: #000000;
$color1: #4361ee;
$color2: #4cc9f0;
$transparent-color1: rgba($color1, 0.3);
$transparent-color2: rgba($color2, 0.0);
$text-color1: #0b090a;
$text-color2: #2b2b2b;
$text-color3: #808080;
$text-color4: #aaaaaa;
$text-color5: #d4d4d4;
