.header{
    &__address-section{
        display: none;
        font-weight: 400;
        font-size: 13.3px;
        line-height: 1.65;
        letter-spacing: 0em;

        padding: 15px 0;

        background-color: $main-color;
        color: $white-color;
    }

    &__address{
        display: flex;
    }

    &__contacts{
        display: flex;
        gap: 30px;
        margin-left: auto;
    }

    &__address-svg{
        position: relative;
        top: 2px;

        max-width: 16px;
        max-height: 16px;

        margin-right: 10px;

        &--pin{
            margin-right: 8px;
        }

        &--mail{
            top: 4px;
        }
    }

    &__buttons-section{
        padding: 15px 0;
    }

    &__nav-list{
        display: none;        
    }

    &__nav-item{
        display: flex;
    }


    &__nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.0;

        padding: 13px 16px;
        border-radius: 30px;
        &:hover{
            background-color: $transparent-color1;
        }
    }

    &__logo{
        margin-right: auto;
    }

    &__button-div{
        margin-left: auto;

        display: none;
        gap:20px
    }

    &__burger-menu{
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width:1024px) {
        &__logo{
            margin-left: auto;
        }
        &__address-section{
            display: block;
        }

        &__nav-list{
            display: flex;
        }

        &__button-div{
            display: flex;
        }

        &__burger-menu{
            display: none;
        }
    }
}