.slider-blogs{
    position: relative;
    &__swiper{
        overflow: hidden;
    }

    &__slider{
        &.swiper-slide{
            display: flex;
            justify-content: space-between;
        }
    }

    &__pagination{
        position: absolute;
        width: 100%;
        padding: 0 40%;

        display: flex;
        gap: 34px;
        justify-content: center;

        &.swiper-pagination-blogs{
            &.swiper-pagination-bullets{
                bottom: -70px;
            }
        }
    }

    &__pagination-bullet{
        display: flex;
        height: 4px;
        width: 100%;
        background-color: rgba($white-color, 0.3);
        border-radius: 2px;

        &--active{
            background-color: $white-color;
        }
    }
}