.slider-hero{
    position: relative;
    user-select: none;

    &__swiper{
        width: 100%;
        max-width: 540px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 15px 20px 40px rgba(black, 0.2);
    }

    &__images-container{
        display: flex;
        transition: transform 0.5s ease;
    }

    &__image{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__button{
        position: absolute;
        overflow: visible;
        border-radius: 50%;
        background-color: $white-color;

        &::after, &::before{
            display: none;
        }

        /*
        &.swiper-button-prev {
            height: 40px;
            width: 40px;

            left: -18px;
        }
        &.swiper-button-next {
            height: 40px;
            width: 40px;
            right: -18px;
        }
            */
        &.swiper-button-prev{
            height: 40px;
            width: 40px;
            left: 0px;
        }

        &.swiper-button-next {
            height: 40px;
            width: 40px;
            right: 0px;
        }
    }

    &__nav{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        bottom: 50%;
    }

    &__pagination{
        position: absolute;
        width: 100%;
        padding: 0 11px;

        display: flex;
        gap: 5%;
        justify-content: center;

        &.swiper-pagination-hero{
            &.swiper-pagination-bullets
            {
                bottom: -15px;
            }
        }
    }

    &__pagination-bullet{
        display: inline-block;
        height: 4px;
        width: 100%;
        background-color: $white-color;
        border-radius: 2px;
        opacity: 50%;
        &--active{
            background-color: $color1;
            opacity: 100%;
        }
    }

    &__button-svg{
        display: flex;
        align-items: center;
        max-width: 7px;
        max-height: 13px;
        color: $text-color4;

        &--right{
            transform: scaleX(-1);
        }
    }

    @media screen and (min-width: 320px){
        
    }

    @media screen and (min-width: 680px){
        &__button{
            &.swiper-button-prev{
                left: -3.5%;
            }
    
            &.swiper-button-next {
                right: -3.5%;
            }
        }
    }

    @media screen and (min-width: 1024px){
    }
}