.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;


    &--flex{
        display: flex;
        align-items: center;
    }

    &--header{
        max-width: 1300px;
        padding: 0px 30px;
    }

    &--main{
        max-width: 1200px;
        padding: 0 15px;
    }

    @media screen and (min-width: 1024px){
        &--main{
            padding: 0 30px;
        }
        &--header{

        }
    }
    @media screen and (min-width: 480px){
        &--main{
           padding: 0 24px;
        }
        &--header{
            
        }
    }
}