$main-color: #3a0ca3;
$white-color: #ffffff;
$color1: #4361ee;
$color2: #4cc9f0;
$transparent-color1: rgba($color1, 0.3);
$transparent-color2: rgba($color2, 0.0);
$text-color3: #808080;
$text-color4: #aaaaaa;