.regular-text{
    font-weight: 400;
    font-size: clamp(13.3px, 1.1vw + 0.3rem, 16px);
    line-height: 1.63;
    letter-spacing: 0em;

    color: $text-color3;

    &--black{
        color: $main-text-color;
    }
}