.blogs-section{
    padding-top: clamp(70px, 10vw, 150px);
    padding-bottom: clamp(80px, 15vw, 170px);
    background-color: $main-color;

    &__secondary-title{
        color: $white-color;
        text-align: center;
    }

    &__section-title{
        color: $white-color;
        text-align: center;

        margin-bottom: clamp(30px, 10vw, 80px);
    }

    @media screen and (min-width:768px) {
        &__viewall-button{
            display: none;
        }
    }
}