.footer-main-section{
    padding: 82px 0;
    background-color: rgba($color1, 0.1);

    &__container{
        align-items: baseline;
        justify-content: space-between;
    }

    &__logo{
        margin-bottom: 40px;
    }

    &__address{
        font-size: 16px;
        font-weight: 500;
    }

    &__location{
        margin-bottom: 45px;
    }

    &__address-svg{
        max-width: 20px;
        max-height: 20px;
    }

    &__phone , &__email{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__phone{
        margin-bottom: 20px;
    }


    &__title-div{
        font-size: 19.4px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__link{
        font-size: 16px;
        line-height: 1.63;
    }

    &__form{
        position: relative;
        margin-bottom: 20px;
    }

    &__label{
        display: none;
    }

    &__input{
        font-size: 16px;
        font-weight: 400;
        padding: 20px 0 20px 20px;
        border-style: none;
        border-radius: 30px;

        background-color: $white-color;
    }

    &__arrow-button{
        position: absolute;
        top: 4px;
        right: 4px;
    }

    &__media-list{
        display: flex;
        gap: 20px;
    }

    &__media-svg{
        max-width: 22px;
        max-height: 22px;
        color: $main-color;
    }
}