.footer-main-section{
    padding: 82px 0;
    background-color: rgba($color1, 0.1);

    &__container{
        align-items: baseline;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    &__main-div{
        margin-bottom: 40px;
    }

    &__logo{
        margin-bottom: 20px;
        width: max-content;
        margin-inline: auto;
    }

    &__address{
        font-size: 16px;
        font-weight: 500;

        color: $text-color3;
    }

    &__location{
        margin-bottom: 20px;
    }

    &__address-svg{
        max-width: 20px;
        max-height: 20px;
    }

    &__phone , &__email{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        color: $text-color3;
    }

    &__phone{
        margin-bottom: 20px;

    }


    &__title-div{
        font-size: 19.4px;
        font-weight: 500;
        margin-bottom: 30px;
        text-align: center;
    }

    &__links-div{
        display: none;
    }

    &__discovery-div{
        display: none;
    }

    &__link{
        font-size: 16px;
        line-height: 1.63;
    }

    &__form{
        position: relative;
        margin-bottom: 30px;
    }

    &__label{
        display: none;
    }

    &__input{
        width: 100%;

        font-size: 16px;
        font-weight: 400;
        padding: 20px 0 20px 20px;
        border-style: none;
        border-radius: 30px;

        background-color: $white-color;
    }

    &__error{
        margin-top: 5px;
        color: rgb(200, 0 , 0);
        height: 1px;
    }

    &__arrow-button{
        position: absolute;
        top: 4px;
        right: 4px;
    }

    &__media-list{
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    &__media-svg{
        max-width: 22px;
        max-height: 22px;
        color: $main-color;
    }
    


    @media screen and (min-width:768px) {
        &__container{
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        &__main-div{
        }

        &__logo{
            margin-left: 0;
        }

        &__title-div{
            text-align: left;
        }

        &__email-div{
            grid-column: 2;
        }

        &__address{
            color: $text-color1;
        }

        &__phone , &__email{
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 10px;
    
            color: $text-color1;
        }

        &__media-list{
            justify-content: left;
        }
    }

    @media screen and (min-width:1024px) {
        &__container{
            grid-template-columns: repeat(4, 1fr);
        }

        &__links-div{
            display: block;
            grid-column: 3;
            grid-row: 1;
        }
    
        &__discovery-div{
            display: block;
        }
        &__email-div{
            grid-column: 4;
            grid-row: 1;
        }

        &__input{
            min-width: 350px;
        }
    }
}