.hero{
    /*
    background-image: linear-gradient($transparent-color2, $color1);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-size: 1440px;
    */
    position: relative;
    
    padding-top: 89px;
    padding-bottom: 112px;



    &__background{
        opacity: 0.3;
        position: absolute;
        background-image: linear-gradient($transparent-color1, $color1);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        max-width: 1440px;
        margin: auto;
    }

    &__decor-circle{
        width: 60px;
        height: 60px;
        top: 225px;
        right: -25px;
        transform: rotate(45deg);
    }

    &__flex-div{
    }

    &__title-section{
        max-width: 540px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    &__form-section{
        margin-left: auto;
        margin-right: auto;
    }

    &__secondary-title{
        max-width: 540px;
        text-align: left;
        margin-inline: auto;
    }

    @media screen and (min-width: 320px){
        
    }

    @media screen and (min-width: 680px){
        
    }

    @media screen and (min-width: 1024px){
       &__flex-div{
        display: flex;
        flex-direction: row;
       }

       &__secondary-title{
        margin-inline: 0;
        margin-right: auto;
       }

       &__title-section{
        margin-right: auto;
        margin-left: 0;
       }

       &__form-section{
        margin-left: auto;
        margin-right: 0;
       }
    }

    &__title{
        margin-bottom: 30px;
        color: $text-color1;
    }

    &__slider-hero{
        margin-top: 40px;
        min-width: 200px;
    }

    &__announcement-section{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
    }
}