.offers-section{
    padding-top: 100px;
    padding-bottom: 188px;

    &__flex-div{
        display: flex;
    }

    &__button-list{
        margin-left: auto;

        display: flex;
        gap: 20px;
    }

    &__section-title{
        margin-bottom: 30px;
    }

    &__regular-text{
        margin-bottom: 40px;
    }
}