.reviews-section{
    padding: 217px 0;

    &__container{
        position: relative;
        
        display: flex;
        flex-direction: column;
    }

    &__title-div{
        width: 100%;
    }

    &__regular-text{
        margin-top: 20px;
        color: $text-color2;
        margin-bottom: 60px;
    }

    &__slider-reviews{
    }

    &__slider-nav{
        display: flex;
        user-select: none;
    }

    &__slider-button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $color1;

        display: flex;
        align-items: center;
        justify-content: center;

        &--next{
            margin-left: 50px;
        }
    }

    &__button-svg{
        max-height: 30px;
        max-width: 30px;
        color: $color1;

        &--left{
            transform: scaleX(-1);
        }
    }

    &__decor-circle{
        position: absolute;

        width: 60px;
        height: 60px;
        transform: rotate(-30deg);
        opacity: 50%;
        top: -20px;
        right: 460px;
    }

    @media screen and (min-width:768px) {
        &__container{
            flex-direction: row;
        }

        &__title-div{
            width: 40%;
        }

        &__slider-reviews{
            margin-left: auto;
            width: 50%;
            margin-right: 30px;
        }
    }
}