.team-section{
    padding-bottom: clamp(80px, 13vw, 170px);

    &__container{
        position: relative;
    }
    
    &__secondary-title{
        text-align: center;
    }
    &__section-title{
        text-align: center;
        margin-bottom: 100px;
    }

    &__members-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(15px, 4%, 50px);
    }

    &__decor-circle{
        position: absolute;
        width: 100px;
        height: 100px;
        transform: rotate(-30deg);
        opacity: 50%;
        top: -100px;
        right: 20px;
    }

    @media screen and (min-width:1024px) {
        &__members-list{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}